body{
    background-image: url(image-2024-07-24T180605.498-1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
}

h1   {
    font-size: 3rem;
    text: shadow 2px 2px 8px rgba(0, 0, 0, 0, 7);
    margin: bottom 40px;
}